<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">MPK Wrocław</h1>
        </header>
    </div>
<select name= city method="get" action="/">
    {% for cities in city %}
    <option value= "{{cities}}" SELECTED>{{cities}}</option>"
    {% endfor %}
</select>

<form method="post" action="/json">
    <legend>Choose a city and click "Submit"</legend>
    <input type='submit' value='Submit'>
    <p>{{objects_list}}</p>
</form>
</body>
</html>
